<div>
    <h2>ADD ITEM</h2>
    <div>
        <form [formGroup]="addForm" class="form">
            <mat-form-field appearance="outline" class="container">
                <mat-label>Item Name</mat-label>
                <input
                    matInput
                    type="text"
                    id="itemName"
                    formControlName="itemName"
                    required
                />
                <mat-error
                    *ngIf="addForm.get('itemName')?.hasError('required')"
                >
                    Please Enter Item Name
                </mat-error>
                <mat-error
                    *ngIf="addForm.get('itemName')?.hasError('startsWithSpace')"
                >
                    Item Name should not start with a space
                </mat-error>
                <mat-error
                    *ngIf="
                        addForm
                            .get('itemName')
                            ?.hasError('containsSpecialCharacters')
                    "
                >
                    Enter a valid item name (only letters, numbers, and spaces
                    allowed)
                </mat-error>
            </mat-form-field>
            <br />
            <br />

            <mat-form-field appearance="outline" class="container">
                <mat-label>Item Category</mat-label>
                <mat-select
                    id="itemCategory"
                    formControlName="itemCategory"
                    required
                >
                    <mat-option value="">Select Category</mat-option>
                    <!-- <mat-option value="Snacks">Snacks</mat-option>
            <mat-option value="Beverages">Beverages</mat-option> -->
                    <mat-option
                        *ngFor="let category of allCategories"
                        [value]="category.name"
                    >
                        {{ category.name }}
                    </mat-option>
                    <mat-option (click)="addCategory()">
                        Add Category
                    </mat-option>
                    <!-- <mat-option (click)="deleteCategory()">Delete Category</mat-option> -->
                </mat-select>
                <mat-error
                    *ngIf="
                        addForm.get('itemCategory')!.invalid &&
                        addForm.get('itemCategory')!.touched
                    "
                >
                    Please Select Item Category
                </mat-error>
            </mat-form-field>
            <br />
            <br />

            <!-- <mat-form-field appearance="outline" class="container">
                <mat-label>Item Image URL</mat-label>
                <input
                    matInput
                    type="text"
                    id="itemImage"
                    formControlName="itemImage"
                />
                <mat-error
                    *ngIf="
                        addForm.get('itemImage')?.hasError('required') &&
                        addForm.get('itemImage')!.touched
                    "
                >
                    Please Enter Item Image URL
                </mat-error>
            </mat-form-field>
            <br />
            <br /> -->

            <mat-form-field appearance="outline" class="container">
                <mat-label>Item Quantity</mat-label>
                <input
                    matInput
                    type="number"
                    id="itemQuantity"
                    formControlName="itemQuantity"
                    min="1"
                    max="99"
                    required
                />
                <mat-error
                    *ngIf="
                        addForm.get('itemQuantity')?.hasError('required') &&
                        addForm.get('itemImage')!.touched
                    "
                >
                    Please Enter Item Quantity
                </mat-error>
                <mat-error *ngIf="addForm.get('itemQuantity')!.invalid">
            Item Quantity invalid.
          </mat-error>
                <mat-error
                    *ngIf="
                        addForm.get('itemQuantity')?.hasError('max') ||
                        addForm.get('itemQuantity')?.hasError('min')
                    "
                >
                    Quantity should be a two-digit number
                </mat-error>
                <mat-error
                    *ngIf="addForm.get('itemQuantity')!.hasError('pattern')"
                >
                    Please enter valid item quantity.
                </mat-error>
                <mat-hint align="start">Enter two digits only</mat-hint>
            </mat-form-field>
            <br />
            <br />

            <!-- <mat-form-field appearance="fill" class="container">
          <mat-label>Expiration Date</mat-label>
          <input 
          matInput
          [matDatepicker]="picker" 
          id="expiration"  
          [min]="minDate"  
          [max]="maxDate" 
          readonly
          formControlName="expiration" 
          required />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field><br/> -->
        </form>
        <div class="button">
            <button mat-button color="primary" mat-dialog-close>CANCEL</button>
            <button
                mat-raised-button
                color="primary"
                [disabled]="!allFieldsFilled()"
                (click)="createItem()"
            >
                ADD ITEM
            </button>
        </div>
    </div>
</div>
