<div class="header">
    <h1>{{ selectedCategory ? selectedCategory : 'All Items' }}</h1>
    <div class="sel">
        <mat-form-field class="try">
            <mat-label>Filter by Category</mat-label>
            <mat-select
                [(value)]="selectedCategory"
                (selectionChange)="filterItemsByCategory()"
            >
                <mat-option value="">All Items</mat-option>
                <mat-option
                    *ngFor="let category of allCategories"
                    [value]="category.name"
                >
                    {{ category.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="search">
            <mat-label>Search Item</mat-label>
            <input
                matInput
                type="text"
                [(ngModel)]="searchName"
                (input)="searchItem()"
            />
        </mat-form-field>
        <mat-icon>search</mat-icon>
    </div>
</div>
<div class="scrolldiv">
    <div class="flex-container">
        <mat-card
            class="mycard"
            *ngFor="let element of allitems"
            [ngClass]="{
                'low-quantity-card': element.itemQuantity < 10,
                'editing-card': editingMap[element._id] 
            }"
        >
            <div class="button-container" [ngClass]="{ 'low-quantity-btn': element.itemQuantity < 10 }">
                <button (click)="toggleEditingMode(element._id)" *ngIf="!editingMap[element._id]">
                    <mat-icon class="material" [ngStyle]="{ 'color': element.itemQuantity < 10 ? 'red' : 'rgb(14, 194, 197);' }"
                        matTooltip="Edit" [matTooltipPosition]="'right'">edit</mat-icon>
                </button>
                <button (click)="save(element._id)"
                    [disabled]="!element.itemName || hasWhitespace(element.itemName) || containsSpecialCharacters(element.itemName) || validateInput(element) || !editingMap[element._id]"
                    *ngIf="editingMap[element._id]">
                    <mat-icon class="material" [ngStyle]="{ 'color': element.itemQuantity < 10 ? 'red' : 'rgb(14, 194, 197);' }"
                        matTooltip="Save" [matTooltipPosition]="'right'"
                        [class.disabled-icon]="!element.itemName || hasWhitespace(element.itemName) || containsSpecialCharacters(element.itemName) || containsSpecialCharacters(element.itemQuantity) || validateInput(element) || !editingMap[element._id]">
                        done
                    </mat-icon>
                </button>
                <button (click)="confirmDelete(element)" [ngClass]="{ 'low-quantity-btn': element.itemQuantity < 10 }">
                    <mat-icon class="material" [ngStyle]="{ 'color': element.itemQuantity < 10 ? 'red' : 'rgb(14, 194, 197);' }"
                        matTooltip="Delete" [matTooltipPosition]="'right'">delete</mat-icon>
                </button>
            </div>
            
            
            <div>
                <mat-card-header>
                    <div class="header-container">
                        <div>
                            <mat-card-title class="itemname">
                                <span *ngIf="!editingMap[element._id]">
                                    {{ element.itemName }}
                                </span>
                            </mat-card-title>
                            <mat-form-field *ngIf="editingMap[element._id]">
                                <input
                                    matInput
                                    [(ngModel)]="element.itemName"
                                    placeholder="Name"
                                    class="edit-itemName"
                                />
                            </mat-form-field>
                            <mat-error
                                *ngIf="!element.itemName"
                                class="error-message"
                                style="font-size: small"
                            >
                                Item Name is required
                            </mat-error>
                            <mat-error
                                *ngIf="
                                    hasWhitespace(element.itemName) ||
                                    containsSpecialCharacters(element.itemName)
                                "
                                class="error-message"
                                style="font-size: small"
                            >
                                Enter a valid item name
                            </mat-error>

                            <!-- <mat-card-subtitle
                                class="edit-itemCategory"
                                *ngIf="
                                    !editingMap[element._id] &&
                                    !selectedCategory
                                "
                            >
                                {{ element.itemCategory }}
                            </mat-card-subtitle>
                            <mat-card-subtitle *ngIf="editingMap[element._id]">
                                <input
                                    matInput
                                    [(ngModel)]="element.itemCategory"
                                    placeholder="Category"
                                    class="edit-itemCategory"
                                />
                                <mat-error
                                    *ngIf="!element.itemCategory"
                                    style="font-size: small"
                                >
                                    Item Category is required
                                </mat-error>
                            </mat-card-subtitle> -->
                            <mat-card-subtitle *ngIf="!editingMap[element._id]">
                                <input
                                    matInput
                                    [(ngModel)]="element.itemCategory"
                                    placeholder="Category"
                                    class="edit-itemCategory"
                                />
                            </mat-card-subtitle>
                            <mat-card-subtitle *ngIf="editingMap[element._id]">
                                <mat-form-field>
                                    <mat-label>Category</mat-label>
                                    <mat-select [(ngModel)]="element.itemCategory" name="itemCategory">
                                        <mat-option *ngFor="let category of allCategories" [value]="category.name">
                                            {{ category.name }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="!element.itemCategory" style="font-size: small">
                                        Item Category is required
                                    </mat-error>
                                </mat-form-field>
                            </mat-card-subtitle>
                            
                        </div>
                    </div>
                </mat-card-header>
                <img
                    mat-card-image
                    class="img"
                    *ngIf="!editingMap[element._id] && element.itemQuantity > 9"
                    [src]="getImageUrl(element.itemCategory)"
                    alt="Item Photo"
                />
                <img
                    mat-card-image
                    class="edit-img"
                    *ngIf="editingMap[element._id]"
                    [src]="getImageUrl(element.itemCategory)"
                    alt="Item Photo"
                />
                <img
                    mat-card-image
                    class="img"
                    *ngIf="
                        !editingMap[element._id] && element.itemQuantity < 10
                    "
                   src="https://cdn-icons-png.flaticon.com/128/7380/7380802.png"
                    
                />

                <mat-card-content>
                    <span *ngIf="!editingMap[element._id]">
                        <h3
                            class="quantity2"
                            [ngClass]="{
                                'low-quantity': element.itemQuantity < 10
                            }"
                        >
                            Quantity: {{ element.itemQuantity }}
                        </h3>
                    </span>
                    <mat-form-field
                        class="edit-quantity"
                        *ngIf="editingMap[element._id]"
                    >
                        <input
                            matInput
                            type="text"
                            [(ngModel)]="element.itemQuantity"
                            class="edit-input1"
                            placeholder="Quantity"
                            (blur)="validateInput(element)"
                            maxlength="2"
                        />
                        <mat-hint align="start">Enter two digits</mat-hint>
                    </mat-form-field>
                    <mat-error
                        *ngIf="!element.itemQuantity && editingMap[element._id]"
                        style="font-size: small"
                        class="quantity-error"
                    >
                        Invalid Quantity
                    </mat-error>
                    <mat-error
                        *ngIf="
                            containsspl(element.itemQuantity) ||
                            containsSpecialCharacters(element.itemQuantity)
                        "
                        style="font-size: small"
                        class="quantity-error"
                    >
                        Enter a valid Quantity (only positive whole numbers are
                        allowed)
                    </mat-error>
                    <mat-error
                        *ngIf="haszero(element.itemQuantity)"
                        style="font-size: small"
                        class="quantity-error"
                    >
                        Quantity cannot be zero
                    </mat-error>
                </mat-card-content>
            </div>
        </mat-card>
    </div>
</div>
<!-- <h4>
      <span *ngIf="!editingMap[element._id]">
        <h3>Expiry: {{ formatDate(element.expiration) }}</h3>
      </span>
    
      <mat-form-field *ngIf="editingMap[element._id]">
        <input
          matInput
          [matDatepicker]="picker"
          type="date"
          [(ngModel)]="element.expiration"
          class="edit-input"
          [min]="minDate"  
          [max]="maxDate" 
          readonly 
        >
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>  
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </h4> -->

<!-- src="https://cdn-icons-png.flaticon.com/128/5278/5278718.png" -->

  <div class="nav-button">
  <button mat-fab class="create" color="primary" [matMenuTriggerFor]="menu" matTooltip="Menu" [matTooltipPosition]="'above'"><mat-icon>more_vert</mat-icon></button>
<mat-menu #menu="matMenu"class="delete-category-option">
  <button mat-menu-item [matMenuTriggerFor]="delete">Delete Category</button>
  <button mat-menu-item (click)="addCategory()">Add Category</button>
  <button mat-menu-item (click)="openAddItemDialog()">Add Item</button>
  
</mat-menu>

<mat-menu #delete="matMenu">
    <ng-container *ngFor="let category of allCategories" >
        <button mat-menu-item>
         {{ category.name }}
         <div  class="delete-category-option">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <button mat-icon-button (click)="confirmDeleteCategory(category)">
         <mat-icon class="material">delete</mat-icon>
         </button>
        </div>
       </button>
     </ng-container>
</mat-menu>

</div>
