// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
$mw-blue: (
    50: #28bbbb,
    100: #28bbbb,
    200: #28bbbb,
    300: #28bbbb,
    400: #28bbbb,
    500: #28bbbb,
    600: #28bbbb,
    700: #28bbbb,
    800: #28bbbb,
    A200: #28bbbb,
    A400: #28bbbb,
    A700: #28bbbb,
    contrast: (
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A700: white,
    ),
);
$mw-purple: (
    50: #b627a1,
    100: #b627a1,
    200: #b627a1,
    300: #b627a1,
    400: #b627a1,
    500: #b627a1,
    600: #b627a1,
    700: #b627a1,
    800: #b627a1,
    A200: #b627a1,
    A400: #b627a1,
    A700: #b627a1,
    contrast: (
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A700: white,
    ),
);

$live-site-primary: mat.define-palette($mw-blue, A200);
$live-site-accent: mat.define-palette($mw-purple);
$live-site-warn: mat.define-palette(mat.$red-palette);

$live-site-theme: mat.define-light-theme(
    (
        color: (
            primary: $live-site-primary,
            accent: $live-site-accent,
            warn: $live-site-warn,
        ),
    )
);

@include mat.all-component-themes($live-site-theme);
